
.container-info {

    padding-left: 24px;
    padding-right: 23px;
    margin-bottom: 72px;

    .title {

        margin-bottom: 32px;
        display: inline-block;
        font-size: 32px;
        text-align: left;
    
        letter-spacing: -1.6px;
    }

    .text {
        text-align: left;
        font-weight: 400;
       
    }
    
}



