
.section {
 
    padding: 72px 29px 96px 19px;


    .title {

  

        font-size: 32px;
        font-weight: 600;

        margin-bottom: 32px;
        
    }

     .logo-wrap {

        display: flex;
        align-items: center;
        gap: 16px;

     }
}

